body {
    font-family: Arial;
    margin: 0 auto;
    background-color: #c9f4ffc4;
}

.container{
    background-color: #b1dfeb;
    border-radius: 7px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#table-container {
    align-items: center;
    text-align: center;
    flex: 1;
}

header {
    background-color: rgb(0, 157, 185);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 99%;
    height: 8%;
}

header a {
    color: #c9f4ffc4;
}

a {
    color: #004f74c4;
    text-decoration: none; /* Remove underline */
}

a:hover {
    color: rgb(0, 59, 66);
}


.headerButton {
    background-color: rgb(102,255,255);
    border: none;
    border-radius: 7px;
    text-align: center;
    transition-duration: 0.5s; 
    padding: 8px 14px;
    cursor: pointer;
    color: rgb(0, 157, 185);;
    margin-top: 5%;
    font-weight: bold;
    border: none;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-right: 30px;
}

.headerButton:hover {
    background-color: #000;
    color: rgb(102,255,255);
}

.inputField {
    width: 250px;
    height: 35px;
}

.button {
    background-color: rgb(0, 157, 185);
    border: none;
    border-radius: 7px;
    text-align: center;
    transition-duration: 0.5s; 
    padding: 8px 30px;
    cursor: pointer;
    color: #fff;
    margin-top: 5%;
    font-weight: bold;
}
.button:hover {
    background-color: rgb(102,255,255);
    color: #000;
}

.error {
    color: red; 
    font-size: 0.8em;
}

.successMessage {
    color: green;
    font-size: 1em;
}

#buttonDelAccount {
    background-color: rgb(204, 0, 0);
    border: none;
    border-radius: 7px;
    text-align: center;
    transition-duration: 0.5s; 
    padding: 8px 30px;
    cursor: pointer;
    color: #fff;
    margin-top: 5%;
    font-weight: bold;
}

#buttonDelAccount:hover {
    background-color: #ff7a7a;
    color: #000;
}

h3, h2, h1{
    font-weight: bold;
}